/*.container{
    display: flex;
    
}*/
main{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:fit-content;
}
figcaption{
    
    background-color: darkcyan;
}
figure{
    min-width: fit-content;;
}
iframe{
    width: 100%;
}

hr{
    color:#fff;
    background: darkgrey;
    width: auto;
    height: auto;
    padding: 2px;
    border-bottom: 2px;
    border-color:steelblue;
    border-style:groove;
    
    background-color: darkgrey;
}
.card1{
    color:#fff;
    background: darkgrey;
    width: auto;
    height: auto;
    padding: 2px;
    border-bottom: 2px;
    border-color:steelblue;
    border-style:groove;
    
    background-color: darkgrey;
}
.stat{
    color: black;
    background: darkgrey;
    width: auto;
    height: auto;
    padding: 2px;
    border-bottom: 2px;
    border-color:steelblue;
    border-style:groove;
    
}
.atractions{
    color: black;
    background: darkgrey;
    width: auto;
    height: 6cm;
    padding: 2px;
    border-bottom: 2px;
    border-color:steelblue;
    border-style:groove;
    
    
}
.events{
    border-style:groove;
    color: black;
    background: darkgrey;
    width: auto;
    height: 4cm;
    padding: 2px;
    border-bottom: 2px;
    border-color:steelblue;
}
.weather{
    margin: 10px;
    border-top: #36454f;
    color: black;
    background: darkgrey;
    width: auto;
    padding: 2px;
    border-bottom: 2px;
    border-color: #36454f;
}
.thankful{
    margin: 10px;
    border-top: #36454f;
    color: black;
    background: darkgrey;
    width: auto;
    padding: 3px;
    border-bottom: 2px;
    border-color: #36454f;
    text-align: center;
}
.Code{
    margin: 10px;
    border-top: #36454f;
    color: black;
    background: darkgrey;
    width: auto;
    padding: 3px;
    border-bottom: 2px;
    border-color: #36454f;
}
.Build{
    margin: 10px;
    border-top: #36454f;
    color: black;
    background: darkgrey;
    width: auto;
    padding: 2px;
    border-bottom: 2px;
    border-color: #36454f;
}
main {
    background-image: url(../chamber1.webp);
}
.hero-image{
    background-image: url("../chamber1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    background-color: #36454f;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
h4 nav{
    background-color: white;
}
h4 {
    display:flex;
    color: brown;
    
}
h4 nav a{
    color: blue;
    padding: 20px;
    position: relative;
}
nav a{
    color: white;
    
}

h1 {
    font-size: large;
    font-style: oblique;
    color: brown;
    margin-bottom: 2em;
    border-bottom: 1px solid steelblue;
  }
h2 {
    font-size: x-large;
    color:brown;
}
h3 {
    font-size: medium;
    color:brown;
    background-color: steelblue;

}
header {
    display: flex;
}
header img {
    position: relative;
    background-color: steelblue;
}

header {
    background-color: steelblue;
}
footer {
    
    background-image: url(../images/back\ ground.jfif);
    width: 100%;
    float: left;
    text-align: center;
    

    
}
section{
    display:block;
}

.hero-text {
    color: black;
    text-align: center;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 500;
}

.hero-btn{
    text-decoration: none;
    color: #fff;
    background: #36454f;
    border-radius: 20px;
    padding: 20px 50px;
    margin-top: 10px;
    display: inline-block;
}
.hero-btn:hover{
    background: green;
    color:#fff;
}
.card2 {
    background: #36454f;
    background-color: #36454f;
    color: #fff;
}

