@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-menu{
        overflow: hidden;
        display: none;

    }

    .nav-menu.active {
        display: block;
    }
    
}




@mediascreen and (min-width: 780px) {
    .card {
        width: 49%; 
        float: left;
        border-spacing: 0.5cm;
        
        border-color: black;
        
    }
    .card1{
        width: 49%;
        float: right;
        
        border-color: black;
    }
    
    .nav-menu{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow: visible;

    }
    iframe{
        width: 100%;
    }
    .get{
        width: fit-content;
    }
    
}   

